<ion-row>

    <ion-col>
        <ion-item>
            <ion-label [color]="inSquareWidth ? null : 'danger' " position="floating">
                Width
            </ion-label>
            <ion-input placeholder='0' onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="0" maxlength="3" type="text" (ngModelChange)="updateSquareF($event, 'width')" [ngModel]="width"></ion-input>

        </ion-item>
    </ion-col>
    <ion-col>
        <ion-item>
            <ion-label [color]="inSquareHeight ? null : 'danger' " position="floating">Height</ion-label>
            <ion-input placeholder='0' onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" min="0" maxlength="3" type="text" (ngModelChange)="updateSquareF($event, 'height')" [ngModel]="height">
            </ion-input>
        </ion-item>
    </ion-col>

</ion-row>