<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>

<input name="width" id="width" [ngModel]="getWidth()" type="number" min="0" max="999" value="10">
<input name="height" id="height" [ngModel]="getHeight()" type="number" min="0" max="999" value="10">

<div id="square" [style.width]='getWidth()' [style.height]='getHeight()' ></div>
